# Maven build output
target/

# VS Code workspace settings
.vscode/
*.json

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr


# Compiled class files
*.class

# OS files
.DS_Store
Thumbs.db
